@import "syntax-variables";

.source.jade {
  .entity {
    &.attribute-name {
      color: @lap-red;
    }

    &.name {
      color: @lap-purple;
    }

    &.function {
      color: @lap-orange;
    }
  }

  .storage {
    &.type {
      color: @lap-orange;
    }
  }

  .keyword {
    &.operator {
      color: @lap-red;
    }
  }

  .support.constant {
    color: inherit;
  }

  .mixin {
    color: @lap-green;
  }
}
